<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
    
    # Bloquer l'accès au dossier var
    RewriteRule ^var/ - [F,L]
</IfModule>