<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>kiznetapp | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.css')}}">
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{asset('bootstrap/js/bootstrap.min.js')}}"></script>
    </body>
</html>
