{% extends 'base.html.twig' %}

{% block title %}La facture{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
        <h1>La  facture</h1>
            <table class="table table-bordered hover">
                <thead class="table-primary">
                    <tr>
                        <th style="width: 20%;">Date</th>
                        <th style="width: 60%;">Nom du client</th>
                        <th style="width: 20%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for facture in factures %}
                        <tr>
                            <td>{{ facture.date|date('d/m/Y') }}</td>
                            <td>{{ facture.nomClient }}</td>
                            <td>
                                <a href="{{url('app_facture_update', {'id':facture.id}) }}" class="btn btn-warning">Modifier</a>
                                <a href="{{url('app_facture_delete', {'id':facture.id})}}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <button style="margin-right: 900px;" class="btn btn-primary">Back</button>
            <button class="btn btn-primary">Suivant</button>
        </div>
    </div>
{% endblock %}
